@import "../global/variables.less";
@import "../components/elements.less";

@media only screen and (max-width: 1200px) {
    .home-supply-chain {
        display: none;
    }

    .home-supply-chain.mobile {
        display: block;

        .row.slideanim.slide {
            display: block;

            .col-lg-2 {
                display: inline-block;
                width: 33%;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .home-supply-chain.mobile {
        .row.slideanim.slide {
            .col-lg-2 {
                display: inline-block;
                width: 49%;
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .home-search {
        .search-job-btn,
        .job-categ,
        .job-search {
            width: 100%;
            margin-bottom: 10px;
            height: auto;
        }
    }
}

@media only screen and (max-width: 768px) {
    .page-main {
        .main-content {
            .home-hero-banner {
                .slogan {
                    .home-hero-title {
                        font-size: 24px;
                    }

                    .tagline {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .mobile-title {
        font-size: 21px !important;
    }
}

@media only screen and (max-width: 480px) {
    .home-supply-chain.mobile {
        .row.slideanim.slide {
            .col-lg-2 {
                display: block;
                width: 100%;
                padding: 0;
            }
        }
    }
}