.admin-reports-view {
    height: 100%;

    .input-select {
        display: inline-block;
        padding: 0 10px;
        min-width: 200px;
        vertical-align: middle;
        width: auto;
        border-radius: 0;
    }

    .actions-topbar {
        .flex();
        .align-items(flex-end);
        border-bottom: 1px solid @border-color;
        margin-bottom: 16px;
        margin-top: 12px;
        padding-bottom: 20px;
        width: 100%;

        .items {
            &-left {
                .flex-value(1);
            }

            &-right {

            }

            span {
                display: block;
            }
        }
    }

    .reports-table {
        height: 100%;

        .dataTables_wrapper {
            height: ~"calc(100% - 179px)";
            padding-bottom: 40px;
            overflow: scroll;
        }

        .empty-table {
            .align-items(center);
            .flex();
            .justify-content(center);
            height: ~"calc(100% - 200px)";

            span {
                color: #6d6d6d;
                font-weight: @font-weight__light;
            }
        }
    }
}