body.community {

    .container {
        margin-top: 24px;
    }

    .main-column {
        .block {
            &.block-search {
                border: 1px solid @border-color__light;
                padding: 22px 26px 26px 26px;

                .page-title-wrapper {
                    margin-bottom: 12px;

                    .page-title {
                        margin-top: 0;
                        font-size: 22px;
                    }
                }

                .input-search {
                    display: block;
                    padding: 0 10px;
                    width: 100%;
                    font-size: 14px;
                }

                .actions-toolbar {
                    .flex();
                }
            }
        }
    }

    .left-sb {
        .block {
            &.block-auth {
                border-bottom: 1px solid @border-color__light;
                padding: 8px 0;

                strong {
                    a {
                        color: @curious-blue;

                        &:hover {
                            color: lighten(@curious-blue, 25%);
                        }
                    }

                    span {
                        font-weight: @font-weight__regular;
                    }
                }
            }

            &.block-categories {
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin-top: 10px;
                    line-height: 1;

                    li {
                        padding: 6px 0;

                        a {
                            color: @curious-blue;

                            &:hover {
                                color: lighten(@curious-blue, 25%);
                            }
                        }
                    }
                }
            }
        }
    }

    .right-sb {
        .top-list {
            .list {
                margin-bottom: 0;
                padding: 0 0 0 4px;

                li {
                    list-style-type: none;
                    line-height: 1;
                    padding: 6px 0;

                    a {
                        color: @curious-blue;

                        &:hover {

                        }
                    }
                }
            }
        }
    }

    .block {
        .block-header {
            border-bottom: 1px solid @border-color__light;
            padding: 12px 16px;
            line-height: 1;
        }

        .block-content {
            padding: 12px;

            .form-create-post {
                .form-group:last-child {
                    margin-bottom: 0;
                }
            }

            .actions-toolbar {
                .action {
                    margin: 0;
                    width: 100%;
                }
            }
        }

        &.block-post,
        &.block-answer,
        &.block-trending {
            border: 1px solid @border-color__light;
            margin-bottom: 16px;
        }

        &.block-post {

        }
    }


    label {
        margin-bottom: 0;
    }

    .form-control {
        height: 36px;
    }
}