@import "../global/variables.less";
@import "../components/elements.less";

//Home Supply Chain
.home-supply-chain {
    .icons-container {
        background-color: transparent;
    }

    p {
        b {
            color: @mako;
        }
    }

    &.mobile {
        display: none;
    }
}

//Distributed Teamire Crew
.distributed-teamire {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 0;

    &.bgimg-3 {
        background-image: none;

        .nav-tabs {
            margin-top: 20px;

            li {

                span {
                    font-size: 14px;
                }
                &:first-child {
                    border-right: 1px solid black;
                }
            }
        }

        .m-b-30 {
            font-size: 15px;
            font-family: latoregular;
        }

        .tab-content {
            margin-top: 100px;
        }

        .stepy-header {
            display: none;
        }

        .title-tabs {
            padding: 0 15px;

            &.hire-tab {
                text-align: right;
            }

            &.job-tab {
                text-align: left;
            }

            span {
                font-size: 14px;
                font-weight: normal;
                font-family: latoregular;
            }
        }

        .block-title {
            font-size: 30px;
            font-family: latobold;
        }

        .crew-content {
            text-align: center;

            h4 {
                margin-bottom: 25px;

                strong {
                    font-weight: normal;
                    font-family: latoregular;
                }
            }
        }

        .nav-tabs {
            &.nav-justified {
                > .active {
                    > a {
                        border: 0;
                    }
                }
            }

            li {
                a {
                    background-color: transparent;
                    border: none;

                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }

    .stepy-navigator {
        position: absolute;
        width: 100%;
        height: 200px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        .btn {
            background-color: transparent !important;
            border: none !important;
            background-repeat: no-repeat;
            height: 100px;

            .mdi {
                display: none;
            }

            &.button-next,
            &.button-back {
                span {
                    &:before {
                        content: "\f054";
                        font-family: 'FontAwesome';
                        font-size: 60px;
                        color: rgba(0, 0, 0, 0.15);
                    }
                }
            }

            &.button-back {
                span {
                    &:before {
                        .lib-rotate(180deg);
                        display: inline-block;
                    }
                }
            }
        }

    }

    form {
        position: relative;
    }
}

//Find Great Candidates Here
.find-candidates {
    background-color: @curious-blue;
    padding: 75px 0;
    text-align: center;

    h3, p {
        color: @white;
        text-align: center;
    }

    .block-title {
        font-size: 25px;
        font-family: latobold;
    }

    .subtitle {
        font-size: 16px;
        font-family: latoregular;
    }
}

//Business Partners Block
.business-partners {
    .business-title {
        color: @mako;
        font-size: 30px;
        font-family: latobold;
    }

    .subtitle {
        color: @mako;
        text-align: center;
        font-size: 16px;
        font-family: latoregular;
    }

    .annex-img {
        background-color: rgba(0, 51, 51, 0.3);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        h3 {
            color: @white;
            font-family: latobold;
            height: 30px;
            position: absolute;
            width: 100%;
            margin: auto !important;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .background-color {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 51, 51, 0.3);
        }

        img {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.home-hero-banner {
    position: relative;

    .banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    }

    #home-slideshow {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        > div {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }

        .slideshow-item {
            display: block;
            width: 100%;

            .slideshow-img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }
    }

    .slideshow-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
    }
}

.page-main .main-content {
    padding-top: 55px;

    &.index-page {
        padding-top: 0 !important;
    }

    .home-hero-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        /*background:
                linear-gradient(
                        rgba(0, 0, 0, 0.45),
                        rgba(0, 0, 0, 0.45)
                ),
                url("../images/home-hero-2.jpg") no-repeat;*/
        background-size: cover;
        background-position: center 100%;

        .slogan {
            margin-top: 100px;
            width: 100%;
            z-index: 2;

            .home-hero-title {
                color: #fff;
                font-size: 41px;
            }

            .tagline {
                color: #fff;
                font-weight: 400;
                font-size: 20px;
                width: 600px;
                line-height: 1.3;
                padding-bottom: 20px;
            }
        }
    }
}

#home-search-talent {
    display: none;
}

#btn-show-search-job,
#btn-show-search-talent {
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 45px;

    &:hover {
        color: #ddd;
    }
}

@media only screen and (max-width: 800px) {
    #btn-show-search-talent {
        margin-top: 0;
    }
}
