@import "../global/variables.less";
@import "../components/elements.less";

.search-content {
    padding-bottom: 100px;
    padding-top: 40px;
    background: #fafafa;

    .container {
        div {
            text-align: center;
        }
        .form-inline {
            .form-group {
                input {
                    width: 500px;
                }

                select {
                    width: 250px;
                }

                button {
                    padding: 7px 40px;
                }
            }
        }
    }

    .search-items-wrapper {
        margin-top: 48px;
    }

    .search-items {
        padding: 0;
        display: block;
        background-color: @white;
        border: 1px solid @border-color;
        float: none;
        margin: 0 auto;

        .job-list-summary {
            height: 100%;
            padding: 20px;
            width: 100%;
            float: none;
            position: relative;
            border-bottom: 1px solid #ddd;

        }

        .job-list-row {
            &:last-child {
                .job-list-summary {
                    border-bottom: none;
                }
            }
        }

        .job-list-title {
            display: inline-block;
            font-size: 20px;
            line-height: 28px;
            color: @curious-blue;
            margin-bottom: 10px;

            &:hover {
                color: lighten(@curious-blue, 30%);
            }
        }

        .job-list-zipcode,
        .job-list-rate,
        .job-list-date {
            line-height: 1.4;
            color: @pale-sky;
        }
        .job-list-zipcode {
            font-size: 12px;
            display: block;
            margin: 0;
            padding: 0;
        }



        .job-list-info {
            text-align: right;

            .job-list-employment-type {
                display: block;
            }

            .job-list-date {
                display: block;
                font-size: 12px;
            }

        }

        .job-list-desc {
            width: 100%;
            float: none;

            .job-list-link {
                width: 100%;
                display: block;
                text-align: left;
            }
        }

        .job-list-rate {
            display: block;
            padding-bottom: 14px;
            font-size: 12px;
            font-weight: @font-weight__bold;
        }

        .job-list-row {
            height: auto;

            &:not(:first-child) {
                border-top: 1px solid @border-color;
            }
        }

        .empty-result-label {
            padding: 100px 0;
            font-size: 14px;
            font-weight: 400;

            i {
                font-size: 20px;
            }
        }
    }
}