#emai_form{
  display: none;
}
#center_email{
  display: none;
}
.menu2{
            display: none;
          }

.toggle2,
[id^=drop1] {
    display: none;
}

/* Giving a background-color to the nav container. */
.foot {
    margin:0;
    padding: 0;
    background-color: #000;
}



/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

.foot:after {
    content:"";
    display:table;
    clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
.foot ul {
    float: left ;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }

/* Positioning the navigation items inline */
.foot ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #022664;
    }

/* Styling the links */
.foot a {
    display:block;
    padding: 10px 25px;
    color:#fff;
    font-weight: 600;
    text-decoration:none;
    font-size: 17px;
}


.foot ul li ul li:hover { background-color: #021844;

}

/* Background color change on Hover */
.foot a:hover {
    background-color: #021844;
    color: #fff;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
.foot ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 50px;
}

/* Display Dropdowns on Hover */
.foot ul li:hover > ul {
    display:block;
      z-index: 100;

}

/* Fisrt Tier Dropdown */
.foot ul ul li {
    width:250px;
    float:none;
    display:list-item;
    position: relative;
    background-color: #232d33;
    color: #fff;
    border-bottom: 2px solid #545e65;
}
.foot ul ul li a{

    color: #fff;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
.foot ul ul ul li {
    position: relative;
    top:-60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left:170px;
}


/* Change ' +' in order to change the Dropdown symbol */
.foot  li > a:after { content:  ''; }
.foot  li > a:only-child:after { content: ''; }




.menu23{
            display: none;
          }

.toggle23,
[id^=drop23] {
    display: none;
}

/* Giving a background-color to the nav container. */
.foot2 {
    margin:0;
    padding: 0;
    background-color: #022664;
}



/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

.foot2:after {
    content:"";
    display:table;
    clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
.foot2 ul {
    float: left ;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }

/* Positioning the navigation items inline */
.foot2 ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #022664;
    }

/* Styling the links */
.foot2 a {
    display:block;
    padding: 10px 25px;
    color:#fff;
    font-weight: 600;
    text-decoration:none;
    font-size: 17px;
}


.foot2 ul li ul li:hover { background-color: #021844;

}

/* Background color change on Hover */
.foot2 a:hover {
    background-color: #021844;
    color: #fff;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
.foot2 ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 50px;
}

/* Display Dropdowns on Hover */
.foot2 ul li:hover > ul {
    display:block;
      z-index: 100;

}

/* Fisrt Tier Dropdown */
.foot2 ul ul li {
    width:250px;
    float:none;
    display:list-item;
    position: relative;
    background-color: #232d33;
    color: #fff;
    border-bottom: 2px solid #545e65;
}
.foot2 ul ul li a{

    color: #fff;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
.foot2 ul ul ul li {
    position: relative;
    top:-60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left:170px;
}


/* Change ' +' in order to change the Dropdown symbol */
.foot2  li > a:after { content:  ''; }
.foot2  li > a:only-child:after { content: ''; }







.menu24{
            display: none;
          }

.toggle24,
[id^=drop24] {
    display: none;
}

/* Giving a background-color to the nav container. */
.foot3 {
    margin:0;
    padding: 0;
    background-color: #022664;
}



/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

.foot3:after {
    content:"";
    display:table;
    clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
.foot3 ul {
    float: left ;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }

/* Positioning the navigation items inline */
.foot3 ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #022664;
    }

/* Styling the links */
.foot3 a {
    display:block;
    padding: 10px 25px;
    color:#fff;
    font-weight: 600;
    text-decoration:none;
    font-size: 17px;
}


.foot3 ul li ul li:hover { background-color: #021844;

}

/* Background color change on Hover */
.foot3 a:hover {
    background-color: #021844;
    color: #fff;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
.foot3 ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 50px;
}

/* Display Dropdowns on Hover */
.foot3 ul li:hover > ul {
    display:block;
      z-index: 100;

}

/* Fisrt Tier Dropdown */
.foot3 ul ul li {
    width:250px;
    float:none;
    display:list-item;
    position: relative;
    background-color: #232d33;
    color: #fff;
    border-bottom: 2px solid #545e65;
}
.foot3 ul ul li a{

    color: #fff;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
.foot3 ul ul ul li {
    position: relative;
    top:-60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left:170px;
}


/* Change ' +' in order to change the Dropdown symbol */
.foot3  li > a:after { content:  ''; }
.foot3  li > a:only-child:after { content: ''; }

/* Media Queries
--------------------------------------------- */

@media all and (max-width : 1200px) {
    #con {
        display: none;
    }
    #emai_form{
      display: unset;
    }
    #center_email{
      display: unset;
    }
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    .foot {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle2 + a,
    .menu2 {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle2 {
        display: block;
        background-color: #212121;
        padding: 0px 20px;
        color:#3399cc;
        font-size:17px;
        text-decoration:none;
        border:none;

    }

    .toggle2:hover {
        background-color: #000000;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop2]:checked + ul {
        display: block;
    }


    /* Change menu item's width to 100% */
    .foot ul li {
        display: block;
        width: 100%;
        }

    .foot ul ul .toggle2,
    .foot ul ul a {
        padding: 0 10px;
    }

    .foot ul ul ul a {
        padding: 0 20px;
    }

    .foot a:hover,
    .foot ul ul ul a {
        background-color: #000000;
        color: #fff;
    }

    .foot ul li ul li .toggle2,
    .foot ul ul a,
    .foot ul ul ul a{
        padding:10px 15px;
        color:#fff;
        font-size:17px;
    }


    .foot ul li ul li .toggle2,
    .foot ul ul a {
        background-color: #212121;
        color: #fff;
       height: 20px;
    }

    /* Hide Dropdowns by Default */
    .foot ul ul {
        float: none;
        position:static;
        color: #fff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    .foot ul ul li:hover > ul,
    .foot ul li:hover > ul {
        display: none;
        color: #fff;
    }

    /* Fisrt Tier Dropdown */
    .foot ul ul li {
        display: block;
        width: 100%;
    }

    .foot ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */

    }


.foot2 {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle23 + a,
    .menu23 {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle23 {
        display: block;
        background-color: #212121;;
        padding:0px 20px;
        color:#3399cc;
        font-size:17px;
        text-decoration:none;
        border:none;

    }

    .toggle23:hover {
        background-color: #000000;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop23]:checked + ul {
        display: block;
    }


    /* Change menu item's width to 100% */
    .foot2 ul li {
        display: block;
        width: 100%;
        }

    .foot2 ul ul .toggle23,
    .foot2 ul ul a {
        padding: 0 10px;
    }

    .foot2 ul ul ul a {
        padding: 0 20px;
    }

    .foot2 a:hover,
    .foot2 ul ul ul a {
        background-color: #000000;
        color: #fff;
    }

    .foot2 ul li ul li .toggle23,
    .foot2 ul ul a,
    .foot2 ul ul ul a{
        padding:10px 15px;
        color:#fff;
        font-size:17px;
    }


    .foot2 ul li ul li .toggle23,
    .foot2 ul ul a {
        background-color: #212121;
        color: #fff;
       height: 20px;
    }

    /* Hide Dropdowns by Default */
    .foot2 ul ul {
        float: none;
        position:static;
        color: #fff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    .foot2 ul ul li:hover > ul,
    .foot2 ul li:hover > ul {
        display: none;
        color: #fff;
    }

    /* Fisrt Tier Dropdown */
    .foot2 ul ul li {
        display: block;
        width: 100%;
    }

    .foot2 ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */

    }



     .foot3 {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle24 + a,
    .menu24 {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle24 {
        display: block;
        background-color: #212121;;
        padding:0px 20px;
        color:#3399cc;
        font-size:17px;
        text-decoration:none;
        border:none;

    }

    .toggle24:hover {
        background-color: #000000;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop24]:checked + ul {
        display: block;
    }


    /* Change menu item's width to 100% */
    .foot3 ul li {
        display: block;
        width: 100%;
        }

    .foot3 ul ul .toggle24,
    .foot3 ul ul a {
        padding: 0 10px;
    }

    .foot3 ul ul ul a {
        padding: 0 80px;
    }

    .foot3 a:hover,
    .foot3 ul ul ul a {
        background-color: #000000;
        color: #fff;
    }

    .foot3 ul li ul li .toggle24,
    .foot3 ul ul a,
    .foot3 ul ul ul a{
        padding:10px 15px;
        color:#fff;
        font-size:17px;
    }


    .foot3 ul li ul li .toggle24,
    .foot3 ul ul a {
        background-color: #212121;
        color: #fff;
       height: 20px;
    }

    /* Hide Dropdowns by Default */
    .foot3 ul ul {
        float: none;
        position:static;
        color: #fff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    .foot3 ul ul li:hover > ul,
    .foot3 ul li:hover > ul {
        display: none;
        color: #fff;
    }

    /* Fisrt Tier Dropdown */
    .foot3 ul ul li {
        display: block;
        width: 100%;
    }

    .foot3 ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */

    }


}
