.home-supply-chain .icons-container {
  background-color: transparent;
}
.home-supply-chain p b {
  color: #3D464D;
}
.distributed-teamire {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 0;
}
.distributed-teamire.bgimg-3 {
  background-image: none;
}
.distributed-teamire.bgimg-3 .nav-tabs {
  margin-top: 20px;
}
.distributed-teamire.bgimg-3 .nav-tabs li span {
  font-size: 14px;
}
.distributed-teamire.bgimg-3 .nav-tabs li:first-child {
  border-right: 1px solid black;
}
.distributed-teamire.bgimg-3 .m-b-30 {
  font-size: 15px;
  font-family: latoregular;
}
.distributed-teamire.bgimg-3 .tab-content {
  margin-top: 100px;
}
.distributed-teamire.bgimg-3 .stepy-header {
  display: none;
}
.distributed-teamire.bgimg-3 .title-tabs {
  padding: 0 15px;
}
.distributed-teamire.bgimg-3 .title-tabs.hire-tab {
  text-align: right;
}
.distributed-teamire.bgimg-3 .title-tabs.job-tab {
  text-align: left;
}
.distributed-teamire.bgimg-3 .title-tabs span {
  font-size: 14px;
  font-weight: normal;
  font-family: latoregular;
}
.distributed-teamire.bgimg-3 .block-title {
  font-size: 30px;
  font-family: latobold;
}
.distributed-teamire.bgimg-3 .crew-content {
  text-align: center;
}
.distributed-teamire.bgimg-3 .crew-content h4 {
  margin-bottom: 25px;
}
.distributed-teamire.bgimg-3 .crew-content h4 strong {
  font-weight: normal;
  font-family: latoregular;
}
.distributed-teamire.bgimg-3 .nav-tabs.nav-justified > .active > a {
  border: 0;
}
.distributed-teamire.bgimg-3 .nav-tabs li a {
  background-color: transparent;
  border: none;
}
.distributed-teamire.bgimg-3 .nav-tabs li a:hover {
  border: none;
}
.distributed-teamire .stepy-navigator {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.distributed-teamire .stepy-navigator .btn {
  background-color: transparent!important;
  border: none !important;
  background-repeat: no-repeat;
  height: 100px;
}
.distributed-teamire .stepy-navigator .btn span {
  content: '';
}
.distributed-teamire .stepy-navigator .btn .mdi {
  display: none;
}
.distributed-teamire .stepy-navigator .btn.button-next {
  background-image: url('../images/right-chevron.png');
  background-position: right;
}
.distributed-teamire .stepy-navigator .btn.button-back {
  background-image: url('../images/left-chevron.png');
  background-position: left;
}
.distributed-teamire form {
  position: relative;
}
.find-candidates {
  background-color: #3399CC;
  padding: 75px 0;
  text-align: center;
}
.find-candidates h3,
.find-candidates p {
  color: #ffffff;
  text-align: center;
}
.find-candidates .block-title {
  font-size: 25px;
  font-family: latobold;
}
.find-candidates .subtitle {
  font-size: 16px;
  font-family: latoregular;
}
.business-partners .business-title {
  color: #3D464D;
  font-size: 30px;
  font-family: latobold;
}
.business-partners .subtitle {
  color: #3D464D;
  text-align: center;
  font-size: 16px;
  font-family: latoregular;
}
.business-partners .annex-img {
  background-color: rgba(0, 51, 51, 0.3);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.business-partners .annex-img h3 {
  color: #ffffff;
  font-family: latobold;
  height: 30px;
  position: absolute;
  width: 100%;
  margin: auto !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.business-partners .annex-img .background-color {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 51, 51, 0.3);
}
.business-partners .annex-img img {
  opacity: 0;
  visibility: hidden;
}
