@media (min-width: 901px) {
  header .toggle {
    display: none;
  }
}
@media (max-width: 900px) {
  header .toggle + a {
    display: block;
  }
  header .toggle + a:hover {
    background-color: transparent;
  }
  header .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    float: right;
  }
  header .menu a {
    background-color: transparent;
  }
  header .menu a:hover {
    background-color: transparent;
  }
  header .top-navigation-mobi {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  header#topnav .nav-wrapper nav {
    width: 100%;
  }
  header#topnav .nav-wrapper nav a {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  header#topnav .nav-wrapper .logo-wrapper {
    display: block;
  }
  header#topnav .top-navigation-mobi {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  body.nav-open nav .toggle {
    position: absolute;
    z-index: 999;
  }
  body.nav-open nav .toggle i {
    color: #333333;
  }
  body.nav-open nav .menu-wrapper {
    display: inline-block !important;
  }
  body header#topnav.scrolled nav label.toggle i {
    color: #333333;
  }
  body header#topnav .nav-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  body header#topnav .nav-wrapper .logo-wrapper {
    width: auto;
    order: 2;
  }
  body header#topnav .nav-wrapper nav {
    order: 1;
    width: auto;
    float: none;
  }
  body header#topnav .nav-wrapper nav .toggle {
    min-width: 0;
    color: #ffffff;
    display: inline-block;
    margin: 14px 30px 0 15px;
    line-height: 1;
  }
  body header#topnav .nav-wrapper nav .toggle i {
    font-size: 28px;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    padding-top: 80px;
    width: 350px;
    box-shadow: 5px 0px 12px 0px rgba(0, 0, 0, 0.15);
    -web-kit-box-shadow: 5px 0px 12px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 0px 12px 0px rgba(0, 0, 0, 0.15);
    background: #f3f3f3;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu {
    display: inline-block;
    height: 100%;
    overflow-y: auto;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li {
    float: none;
    padding: 0;
    padding-left: 30px;
    width: 100%;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li.home-button {
    display: block;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li a {
    color: #333333 !important;
    font-size: 15px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 500;
    padding: 14px 0;
    line-height: 1;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li a.open:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li a:after {
    position: absolute;
    right: 0;
    margin: 0 20px;
    font-weight: 400;
    font-size: 17px;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li .nav-level2 {
    position: relative;
    top: 0;
    box-shadow: none;
    background: none;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li .nav-level2 li {
    padding-left: 16px;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li .nav-level2 li a {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li .nav-level2 li a:hover {
    background: unset;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li .nav-level2 li:hover {
    background: #eaeaea;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li .nav-level2.active {
    display: block !important;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li .nav-level2:before {
    display: none;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li label {
    font-family: latobold;
    font-weight: normal;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li input[type="checkbox"]:checked + ul {
    display: block !important;
  }
  body header#topnav .nav-wrapper nav .menu-wrapper ul.menu li:hover .nav-level2 {
    padding: 0;
    display: none;
  }
  body header#topnav .top-navigation-mobi {
    display: none;
  }
}
body.non-index header#topnav nav label.toggle:hover {
  cursor: pointer;
}
body.non-index header#topnav nav label.toggle i {
  color: #333333;
}
@media only screen and (max-width: 1200px) {
  .footer-updated .container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-updated .footer-items-container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  #first-footer {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .footer-updated .container {
    display: block;
  }
  .footer-updated .logo-block {
    text-align: center;
  }
  .footer-updated .footer-items-container {
    display: inline-block;
    width: 64%;
    vertical-align: top;
  }
  .footer-updated .footer-items-container .footer-items {
    display: inline-block;
    vertical-align: top;
  }
  .footer-updated .email-block {
    display: inline-block;
    width: 35%;
    vertical-align: top;
  }
}
@media (max-width: 1024px) and (min-width: 770px) {
  .footer-updated .email-block .row .pull-left {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 770px) {
  .footer-updated .footer-items-container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .footer-updated .email-block {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  footer #first-footer {
    display: block;
    background-color: #005371;
    padding: 25px;
  }
  footer #first-footer .logo-block {
    text-align: center;
  }
  footer #first-footer .footer-logo {
    max-width: 150px;
    margin: auto;
  }
  footer #con {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .home-supply-chain {
    display: none;
  }
  .home-supply-chain.mobile {
    display: block;
  }
  .home-supply-chain.mobile .row.slideanim.slide {
    display: block;
  }
  .home-supply-chain.mobile .row.slideanim.slide .col-lg-2 {
    display: inline-block;
    width: 33%;
  }
}
@media only screen and (max-width: 1024px) {
  .home-supply-chain.mobile .row.slideanim.slide .col-lg-2 {
    display: inline-block;
    width: 49%;
    padding: 0;
  }
}
@media only screen and (max-width: 800px) {
  .home-search .search-job-btn,
  .home-search .job-categ,
  .home-search .job-search {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .page-main .main-content .home-hero-banner .slogan .home-hero-title {
    font-size: 24px;
  }
  .page-main .main-content .home-hero-banner .slogan .tagline {
    font-size: 16px;
  }
  .mobile-title {
    font-size: 21px !important;
  }
}
@media only screen and (max-width: 480px) {
  .home-supply-chain.mobile .row.slideanim.slide .col-lg-2 {
    display: block;
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .submitresume .row .form-group,
  .submitresume .row .w-50-p {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 935px) {
  .searchjob .search-content .container .form-inline .form-group input,
  .searchjob .search-content .container .form-inline .form-group .form-control {
    display: inline-block;
  }
}
@media only screen and (max-width: 480px) {
  .searchjob .btn-sm-mobile {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .hiringform .row .form-group,
  .hiringform .row .w-50-p {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 798px) {
  .searchresume .container-80.center-page {
    width: 100%;
  }
  .searchresume ul.candidates-list li .row div {
    text-align: left !important;
  }
}
@media only screen and (max-width: 480px) {
  .clientform .row .form-group,
  .clientform .row .w-50-p {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .logins .row .col-12 {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  body.jobdetail .job-detail-wrapper .job-detail-content .job-detail-upper .info-left {
    float: none !important;
  }
  body.jobdetail .job-detail-wrapper .job-detail-content .job-detail-upper .info-right {
    margin-top: 24px;
  }
  body.jobdetail .job-detail-wrapper .job-detail-content .job-detail-upper .job-detail-date {
    text-align: left;
  }
  body.jobdetail .job-detail-wrapper .job-detail-content .job-detail-upper .job-detail-counters {
    text-align: left;
  }
  body.jobdetail .job-detail-wrapper .job-detail-content .job-detail-upper .job-detail-counters .counter-item {
    margin-left: 0;
    margin-right: 28px;
  }
}
@media only screen and (min-width: 768px) {
  body.jobdetail .job-detail-wrapper .job-detail-content .job-detail-upper .job-detail-date {
    text-align: right;
  }
}
/*# sourceMappingURL=styles_rwd.css.map */