@media (min-width: 901px) {
  header .toggle {
    display: none;
  }
}
@media (max-width: 900px) {
  header .toggle + a {
    display: block;
  }
  header .toggle + a:hover {
    background-color: transparent;
  }
  header .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex: none;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    width: 100%;
    float: right;
  }
  header .menu a {
    background-color: transparent;
  }
  header .menu a:hover {
    background-color: transparent;
  }
  header .top-navigation-mobi {
    display: none;
  }
}
@media (max-width: 768px) {
  header#topnav .nav-wrapper .logo-wrapper {
    display: block;
    margin: auto;
  }
  header#topnav .nav-wrapper nav {
    width: 100%;
  }
  header#topnav .nav-wrapper nav a {
    font-size: 12px;
    text-align: center;
  }
  header#topnav .top-navigation-mobi {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  header#topnav .nav-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex: none;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
  }
  header#topnav .nav-wrapper .logo-wrapper {
    width: auto;
    order: 2;
  }
  header#topnav .nav-wrapper nav {
    order: 1;
  }
  header#topnav .nav-wrapper nav .toggle i {
    font-size: 28px;
  }
  header#topnav .nav-wrapper nav ul li {
    width: 100%;
  }
  header#topnav .nav-wrapper .menu {
    width: 100%;
  }
  header#topnav .nav-wrapper .menu li {
    padding: 0;
  }
  header#topnav .nav-wrapper .menu li a {
    color: #ffffff !important;
    font-family: latobold;
  }
  header#topnav .nav-wrapper .menu li label {
    font-family: latobold;
    font-weight: normal;
  }
  header#topnav .nav-wrapper .menu li input[type="checkbox"]:checked + ul {
    display: block !important;
  }
  header#topnav .nav-wrapper .menu li:hover .nav-level2 {
    padding: 0;
    display: none;
  }
  header#topnav .nav-wrapper .menu .nav-level2 {
    position: relative;
    top: 0;
  }
  header#topnav .nav-wrapper .menu .nav-level2:before {
    display: none;
  }
  header#topnav .nav-wrapper nav {
    width: auto;
    float: none;
  }
  header#topnav .nav-wrapper nav .toggle {
    min-width: 0;
    color: #ffffff;
    display: inline-block;
    margin: 14px 30px 0 0;
    line-height: 1;
  }
  header#topnav .nav-wrapper nav ul {
    display: none;
  }
  header#topnav .top-navigation-mobi {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .footer-updated .container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex: none;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
  }
  .footer-updated .footer-items-container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex: none;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
  }
  #first-footer {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .footer-updated .container {
    display: block;
  }
  .footer-updated .logo-block {
    text-align: center;
  }
  .footer-updated .footer-items-container {
    display: inline-block;
    width: 64%;
    vertical-align: top;
  }
  .footer-updated .footer-items-container .footer-items {
    display: inline-block;
    vertical-align: top;
  }
  .footer-updated .email-block {
    display: inline-block;
    width: 35%;
    vertical-align: top;
  }
}
@media (max-width: 1024px) and (min-width: 770px) {
  .footer-updated .email-block .row .pull-left {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 770px) {
  .footer-updated .footer-items-container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex: none;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    width: 100%;
  }
  .footer-updated .email-block {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  footer #first-footer {
    display: block;
    background-color: #005371;
    padding: 25px;
  }
  footer #first-footer .logo-block {
    text-align: center;
  }
  footer #first-footer .footer-logo {
    max-width: 150px;
    margin: auto;
  }
  footer #con {
    display: none;
  }
}
