#first-footer {
  display: none;
}
.footer-updated,
#first-footer {
  background-color: #005371;
  padding: 25px;
}
.footer-updated .foot,
#first-footer .foot,
.footer-updated .foot2,
#first-footer .foot2,
.footer-updated .foot3,
#first-footer .foot3 {
  padding: 0;
}
.footer-updated .foot ul li,
#first-footer .foot ul li,
.footer-updated .foot2 ul li,
#first-footer .foot2 ul li,
.footer-updated .foot3 ul li,
#first-footer .foot3 ul li {
  background-color: transparent;
}
.footer-updated .foot ul li label,
#first-footer .foot ul li label,
.footer-updated .foot2 ul li label,
#first-footer .foot2 ul li label,
.footer-updated .foot3 ul li label,
#first-footer .foot3 ul li label,
.footer-updated .foot ul li a,
#first-footer .foot ul li a,
.footer-updated .foot2 ul li a,
#first-footer .foot2 ul li a,
.footer-updated .foot3 ul li a,
#first-footer .foot3 ul li a {
  padding: 0;
  border-bottom: none !important;
  font-family: latoregular;
  font-size: 15px;
  font-weight: normal;
}
.footer-updated .foot ul li label:hover,
#first-footer .foot ul li label:hover,
.footer-updated .foot2 ul li label:hover,
#first-footer .foot2 ul li label:hover,
.footer-updated .foot3 ul li label:hover,
#first-footer .foot3 ul li label:hover,
.footer-updated .foot ul li a:hover,
#first-footer .foot ul li a:hover,
.footer-updated .foot2 ul li a:hover,
#first-footer .foot2 ul li a:hover,
.footer-updated .foot3 ul li a:hover,
#first-footer .foot3 ul li a:hover {
  background-color: #5d7d87;
}
.footer-updated .toggle2,
#first-footer .toggle2,
.footer-updated .toggle23,
#first-footer .toggle23,
.footer-updated .toggle24,
#first-footer .toggle24 {
  border-bottom: 1px solid white;
  padding: 5px 0;
  color: #5d7d87;
}
.footer-updated .toggle2 .fa-chevron-right,
#first-footer .toggle2 .fa-chevron-right,
.footer-updated .toggle23 .fa-chevron-right,
#first-footer .toggle23 .fa-chevron-right,
.footer-updated .toggle24 .fa-chevron-right,
#first-footer .toggle24 .fa-chevron-right {
  float: right;
  display: inline-block;
  line-height: inherit;
}
.footer-updated .toggle2,
#first-footer .toggle2,
.footer-updated .toggle23,
#first-footer .toggle23,
.footer-updated .toggle24,
#first-footer .toggle24,
.footer-updated .foot,
#first-footer .foot,
.footer-updated .foot2,
#first-footer .foot2,
.footer-updated .foot3,
#first-footer .foot3 {
  background-color: transparent;
}
.footer-updated #center_email .well,
#first-footer #center_email .well {
  background-color: transparent;
  border: none;
  padding: 0;
}
.footer-updated #center_email .well #default-wizard .pull-left,
#first-footer #center_email .well #default-wizard .pull-left {
  width: 100%;
  padding: 0;
}
.footer-updated #center_email .well #default-wizard .email-info,
#first-footer #center_email .well #default-wizard .email-info {
  display: none;
}
.footer-updated #center_email .well #default-wizard .form-group,
#first-footer #center_email .well #default-wizard .form-group {
  text-align: left;
}
.footer-updated #center_email .well #default-wizard .form-group label,
#first-footer #center_email .well #default-wizard .form-group label {
  display: none;
}
.footer-updated h4,
#first-footer h4 {
  color: #5d7d87;
  font-family: latobold;
}
.footer-updated h4.form-title,
#first-footer h4.form-title {
  text-transform: uppercase;
}
.footer-updated .footer-logo,
#first-footer .footer-logo {
  max-width: 150px;
  margin: auto;
}
.footer-updated .about-teamire,
#first-footer .about-teamire {
  margin-top: 25px;
}
.footer-updated .about-teamire p,
#first-footer .about-teamire p {
  font-size: 15px;
  font-family: latoregular;
}
.footer-updated .footer-items-container .footer-items ul,
#first-footer .footer-items-container .footer-items ul {
  padding-left: 0;
  list-style: none;
}
.footer-updated .footer-items-container .footer-items h4,
#first-footer .footer-items-container .footer-items h4 {
  padding-left: 0;
  font-size: 16px;
}
.footer-updated .footer-items-container .footer-items li,
#first-footer .footer-items-container .footer-items li,
.footer-updated .footer-items-container .footer-items a,
#first-footer .footer-items-container .footer-items a {
  color: #ffffff;
  font-size: 15px;
  font-family: latoregular;
}
.footer-updated .about-teamire p,
#first-footer .about-teamire p {
  color: #ffffff;
}
.footer-updated .footer-form .form-group label,
#first-footer .footer-form .form-group label {
  display: none;
}
.copyright-footer {
  background-color: #005371;
}
.copyright-footer .center-page {
  border-top: 1px solid #3399CC;
}
