/* New Styling */

#topnav {
  position: fixed;
}
#topnav.scrolled {
  background: #fff;
  border-bottom: 1px solid #d0e9c6;
}
#topnav.scrolled nav a {
  color: #3d464d;
}
#topnav .logo-wrapper img.logo-dark {
  display: none;
}
#topnav .logo-wrapper img.logo-light {
  display: block;
}
#topnav.scrolled .logo-wrapper img.logo-dark {
  display: block;
}
#topnav.scrolled .logo-wrapper img.logo-light {
  display: none;
}
#topnav .nav-wrapper {
  font-size: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-wrapper nav {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}

.nav-wrapper .logo-wrapper {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
  padding: 15px 0;
  line-height: 0;
}

.nav-wrapper .logo-wrapper a {
  display: inline-block;
  line-height: 0;
}

.nav-wrapper .logo-wrapper a img {
  width: 90px;
  height: auto;
}
.nav-top-bar {
  background: #2298d0;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  text-align: right;
}
.nav-top-bar:before,
.nav-top-bar:after {
  content: '';
  position: absolute;
  background: #2298d0;
  width: 1000%;
  top: 0;
  height: 100%;
}
.nav-top-bar:before {
  left: -1000%;
}
.nav-top-bar:after {
  right: -1000%;
}
.nav-top-bar .nav-top-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.nav-top-bar ul.social-links {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.nav-top-bar .social-links li {
  display: inline-block;
  vertical-align: middle;
}